@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>@Model.UserId</p>
@if (Model.Articles.Count > 0)
{
    @foreach (var article in Model.Articles)
    {
        <section class="article">
            <header>
                <h2>@article.Title</h2>
            </header>
            <div>
                @article.Content
            </div>
            <footer>
                <p>@article.Created</p>
                <p>@article.Author.Email</p>
            </footer>
        </section>
    }
}
else
{
    <p>Žádné články zde nejsou. Nějaký <a asp-page="Create">vytvořte</a>.</p>
}
